@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Line";
  src: url("../public/fonts/LINESeedSansTH_Th.ttf");
  font-weight: thin;
}
@font-face {
  font-family: "Line";
  src: url("../public/fonts/LINESeedSansTH_Rg.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Line";
  src: url("../public/fonts/LINESeedSansTH_Bd.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Line";
  src: url("../public/fonts/LINESeedSansTH_XBd.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Line";
  src: url("../public/fonts/LINESeedSansTH_He.ttf");
  font-weight: 900;
}

body {
  margin: 0;
  font-family: "Line";
}
